<!-- PUBLISH RECIPE  -->
<section class="publish-recipe-section">
    <div class="image-container">
      <img src="images/publish-1.png" alt="Cooking Image 1" class="circle-image">
      <img src="images/publish-2.png" alt="Cooking Image 2" class="circle-image main-image">
      <img src="images/publish-1.png" alt="Cooking Image 3" class="circle-image">
    </div>
    <h1>Become the Chef Everyone Talks About!</h1>
    <p>Share your recipes with food enthusiasts everywhere. Start your culinary journey today!</p>
    <button class="submit-button"> <a href="/submit">Submit Recipe</a></button>
  </section>