<% layout("\layouts/boilerplate") -%>

<!-- BANNER SECTION -->
<section class="banner">

    <div class="left-section">
      <div class="banner-text">
        <h2><b>Spice Up Your Table with Tasty Recipes!</b></h2>
        <p><i>From hearty comfort food to elegant dishes, our recipes make<br> cooking easy, enjoyable, and rewarding. <br>Whether you're a beginner or a pro, there’s something here for everyone.</i></p>
    <button><a href="/delicacies">Explore</a></button>  
      </div>
    </div>

    <div class="right-section">
      <div class="image-wrapper">
        <img src="images/banner-1.jpg" alt="Delicious Food" id="rotating-image">
      </div>
      <div class="decorative-dot dot1"></div>
      <div class="decorative-dot dot2"></div>
      <div class="decorative-dot dot3"></div>
    </div>
  </section>

  <!-- LATEST RECIPE SECTION -->
  <section class="latest-recipes">
      <div class="section-header">
        <h2 class="recipes">Latest Recipes</h2>
      </div>

      <div class="recipes-grid">

        <a href="/cuisine/Dessert/6770339c31b107813bca63ed" style="text-decoration:none;">
        <div class="recipe-card1">
          <img src="images/chia_pudding.jpg" alt="Chia Pudding">
        </div>
        </a>

        <a href="/cuisine/Snacks/6770339c31b107813bca640c" style="text-decoration:none;">
        <div class="recipe-card1">
          <img src="images/avocado_toast.jpg" alt="Avocado Toast">
        </div>
        </a>

        <a href="/cuisine/Snacks/6770339c31b107813bca640f" style="text-decoration:none;">
        <div class="recipe-card1">
          <img src="images/spring_rolls.jpg" alt="Spring Rolls">
        </div>
        </a>

        <a href="/cuisine/Snacks/6770339c31b107813bca640b" style="text-decoration:none;">
        <div class="recipe-card1">
          <img src="images/paneer_tikka.jpg" alt="Paneer Tikka">
        </div>
        </a>

        <a href="/cuisine/Snacks/6770339c31b107813bca640d" style="text-decoration:none;">
        <div class="recipe-card1">
          <img src="images/Spinach_Quesadilla.jpg" alt="Spinach Quesadilla">
        </div>
        </a>

        <a href="/cuisine/Salad/6770339c31b107813bca6403" style="text-decoration:none;">
        <div class="recipe-card1">
          <img src="images/fruit_salad.jpeg" alt="Fruit Salad">
        </div>
        </a>

      </div>
  </section>

<!-- CHINESE CUISINE -->
<section class="latest-recipes">
    <div class="section-header">
      <h2 class="recipes">Chinese Cuisine</h2>
      <a href="/cuisine/Chinese" class="view-more">View More</a>
    </div>

    <div class="recipes-grid">

      <a href="/cuisine/Chinese/6770339c31b107813bca63e3" style="text-decoration:none;">
      <div class="recipe-card">
        <img src="images/manchurian.jpeg" alt="Manchurian">
        <h3>Manchurian</h3>
      </div>
    </a>

    <a href="/cuisine/Chinese/6770339c31b107813bca63e4" style="text-decoration:none;">
      <div class="recipe-card">
        <img src="images/noodles.jpg" alt="Veg Hakka Noodles">
        <h3>Veg. Hakka Noodles</h3>
      </div>
      </a>

      <a href="/cuisine/Chinese/6770339c31b107813bca63e5" style="text-decoration:none;">
      <div class="recipe-card">
        <img src="images/fried-beans.jpg" alt="Stir Fried String Beans With Tofu">
        <h3>Stir Fried String Beans With Tofu</h3>
      </div>
      </a>

      <a href="/cuisine/Chinese/6770339c31b107813bca63e6" style="text-decoration:none;">
      <div class="recipe-card">
        <img src="images/chili-honey-potato.jpg" alt="Crispy Honey Chilli Potato">
        <h3>Crispy Honey Chilli Potato</h3>
      </div>
      </a>

      <a href="/cuisine/Chinese/6770339c31b107813bca63e7" style="text-decoration:none;">
      <div class="recipe-card">
        <img src="images/Veggies-Hot-Garlic-Sauce.jpg" alt="Stir-Fried Vegetables in Garlic Sauce">
        <h3>Stir-Fried Vegetables in Sauce</h3>
      </div>
      </a>

    </div>
</section>

<!-- ITALIAN CUISINE -->
<section class="latest-recipes">
    <div class="section-header">
      <h2 class="recipes">Italian Cuisine</h2>
      <a href="/cuisine/Italian" class="view-more">View More</a>
    </div>

    <div class="recipes-grid">

      <a href="/cuisine/Italian/6770339c31b107813bca63fc" style="text-decoration:none;">
      <div class="recipe-card">
        <img src="images/garlic-bread.jpg" alt="Garlic Bread">
        <h3>Garlic Bread with Cheese</h3>
      </div>
      </a>

      <a href="/cuisine/Italian/6770339c31b107813bca63fd" style="text-decoration:none;">
      <div class="recipe-card">
        <img src="images/marghareta_pizza.jpg" alt="Margherita Pizza">
        <h3>Margherita Pizza</h3>
      </div>
      </a>

      <a href="/cuisine/Italian/6770339c31b107813bca63fe" style="text-decoration:none;">
      <div class="recipe-card">
        <img src="images/pesto_pasta.jpg" alt="Pesto Pasta">
        <h3>Pesto Pasta</h3>
      </div>
      </a>

      <a href="/cuisine/Italian/6770339c31b107813bca63ff" style="text-decoration:none;">
      <div class="recipe-card">
        <img src="images/tomato_bruschetta.jpg" alt="Tomato Bruschetta">
        <h3>Tomato Bruschetta</h3>
      </div>
      </a>

      <a href="/cuisine/Italian/6770237e8a539816c7e1666d" style="text-decoration:none;">
      <div class="recipe-card">
        <img src="images/vegetable_lasangna.jpg" alt="Vegetable Lasagna">
        <h3>Vegetable Lasagna</h3>
      </div>
      </a>
      
    </div>
</section>
<%- include("../includes/footer.ejs") %>